/* Style des textes du contenu principal */


/* Titres */
.content .text h2,
.content .text h3,
.content .text h4,
.content .text h5,
.content .text h6 {
	font-family: var(--txt_content_title_font_family);
}

.content .text h2:not(.has-text-color),
.content .text h3:not(.has-text-color),
.content .text h4:not(.has-text-color),
.content .text h5:not(.has-text-color),
.content .text h6:not(.has-text-color) {
	color: var(--txt_content_title_text_color);
}

body.darkmode .content .text h2:not(.has-text-color),
body.darkmode .content .text h3:not(.has-text-color),
body.darkmode .content .text h4:not(.has-text-color),
body.darkmode .content .text h5:not(.has-text-color),
body.darkmode .content .text h6:not(.has-text-color) {
	color: var(--txt_content_title_text_darkmode_color);
}


.content .text h2 {
	display: block;

	margin: 45px 0 10px 0;
	padding-bottom: 3px;

	border-bottom: 3px solid;
	border-image-source: linear-gradient(90deg, #454353, var(--main_color_theme), var(--main_color_theme)00);
	border-image-slice: 1;

	font-size: 2.2em;
	font-weight: bold;
}

.content .text h3 {
	display: block;

	margin: 30px 0 10px 0;
	padding-bottom: 3px;

	border-bottom: 2px solid;
	border-image-source: linear-gradient(90deg, #454353, var(--main_color_theme), var(--main_color_theme)00);
	border-image-slice: 1;

	font-size: 1.8em;
	font-weight: bold;
}

.content .text h4 {
	display: block;

	margin: 25px 0 10px 0;
	padding-bottom: 3px;

	border-bottom: 1px solid;
	border-image-source: linear-gradient(90deg, #454353, var(--main_color_theme), var(--main_color_theme)00);
	border-image-slice: 1;

	font-size: 1.4em;
	font-weight: bold;
}

.content .text h5 {
	display: block;

	margin: 20px 0 10px 0;
	padding-bottom: 3px;

	border-bottom: 1px dashed #D2D2DC;

	font-size: 1.2em;
	font-weight: bold;
}

.content .text h6 {
	display: block;

	margin: 15px 0 10px 0;
	padding-bottom: 3px;

	border-bottom: 1px dotted #D2D2DC;

	font-size: 1em;
	font-weight: bold;
}

body.darkmode .content .text h5,
body.darkmode .content .text h6 {
	border-bottom-color: var(--color_gris_peu_fonce);
}

.content .text h2 + h3,
.content .text h3 + h4,
.content .text h4 + h5,
.content .text h5 + h6 {
	margin-top: 0px;
}

/* Numérotation */
.content .text {
	counter-reset: title_num_h2;
}

.content .text h2:not(.no_num) {
	counter-reset: title_num_h3;
}

.content .text h2:not(.no_num):before {
	content: counter(title_num_h2) ". - ";
	counter-increment: title_num_h2;
}

.content .text h3:not(.no_num) {
	counter-reset: title_num_h4;
}

.content .text h3:not(.no_num):before {
	content: counter(title_num_h2) "." counter(title_num_h3) ". - ";
	counter-increment: title_num_h3;
}

.content .text h4:not(.no_num) {
	counter-reset: title_num_h5;
}

.content .text h4:not(.no_num):before {
	content: counter(title_num_h2) "." counter(title_num_h3) "." counter(title_num_h4) ". - ";
	counter-increment: title_num_h4;
}

.content .text h5:not(.no_num) {
	counter-reset: title_num_h6;
}

.content .text h5:not(.no_num):before {
	content: counter(title_num_h2) "." counter(title_num_h3) "." counter(title_num_h4) "." counter(title_num_h5) ". - ";
	counter-increment: title_num_h5;
}

.content .text h6:not(.no_num):before {
	content: counter(title_num_h2) "." counter(title_num_h3) "." counter(title_num_h4) "." counter(title_num_h5) "." counter(title_num_h6) ". - ";
	counter-increment: title_num_h6;
}



/* Textes */
.content .text p,
.content .text ul,
.content .text ol,
.content .text table,
.content .text table p,
.content .text figure,
.content .text blockquote,
.content .text pre,
.content .text .wp-block-buttons,
.content .text div.wp-block-media-text,
.content .text .wp-block-cover,
.content .text .wp-block-cover-image {
	font-family: var(--txt_content_font_family);
}

.content .text div:not(.wp-block-cover__inner-container) > p:not(.has-text-color),
.content .text ul,
.content .text ol,
.content .text table,
.content .text table p,
.content .text figure,
.content .text blockquote,
.content .text pre,
.content .text .wp-block-buttons,
.content .text div.wp-block-media-text,
.content .text .wp-block-cover,
.content .text .wp-block-cover-image {
	color: var(--txt_content_text_color);
}

body.darkmode .content .text div:not(.wp-block-cover__inner-container) > p:not(.has-text-color),
body.darkmode .content .text ul,
body.darkmode .content .text ol,
body.darkmode .content .text table,
body.darkmode .content .text table p,
body.darkmode .content .text figure,
body.darkmode .content .text blockquote,
body.darkmode .content .text pre,
body.darkmode .content .text .wp-block-buttons,
body.darkmode .content .text div.wp-block-media-text,
body.darkmode .content .text .wp-block-cover,
body.darkmode .content .text .wp-block-cover-image {
	color: var(--txt_content_text_darkmode_color);
}



.content .text p,
.content .text ul,
.content .text ol,
.content .text table,
.content .text table p,
.content .text figure,
.content .text blockquote,
.content .text pre,
.content .text .wp-block-buttons,
.content .text div.wp-block-media-text,
.content .text .wp-block-cover,
.content .text .wp-block-cover-image {
	margin: 15px 0 0 0;

	text-align: justify;
}


.content .text > *:first-child,
.content .text figure > blockquote {
	margin: 0 0 0 0;
}

.content .text p.has-background {
	padding: 0px 0px;
}

/* Couleur personnalisées */
.content .text .has-text-color.has-bleu-dodger-color,
.content .text .has-inline-color.has-bleu-dodger-color {
	color: var(--color_bleu_dodger);
}
.has-background.has-bleu-dodger-background-color {
	background-color: var(--color_bleu_dodger);
}

.content .text .has-text-color.has-violet-electric-color,
.content .text .has-inline-color.has-violet-electric-color {
	color: var(--color_violet_electric);
}
.has-background.has-violet-electric-background-color {
	background-color: var(--color_violet_electric);
}

.content .text .has-text-color.has-violet-fonce-color,
.content .text .has-inline-color.has-violet-fonce-color {
	color: var(--color_violet_fonce);
}
.has-background.has-violet-fonce-background-color {
	background-color: var(--color_violet_fonce);
}

.content .text .has-text-color.has-orange-color,
.content .text .has-inline-color.has-orange-color {
	color: var(--color_orange);
}
.has-background.has-orange-background-color {
	background-color: var(--color_orange);
}

.content .text .has-text-color.has-rose-color,
.content .text .has-inline-color.has-rose-color {
	color: var(--color_rose);
}
.has-background.has-rose-background-color {
	background-color: var(--color_rose);
}

.content .text .has-text-color.has-rouge-color,
.content .text .has-inline-color.has-rouge-color {
	color: var(--color_rouge);
}
.has-background.has-rouge-background-color {
	background-color: var(--color_rouge);
}

.content .text .has-text-color.has-rouge-rose-color,
.content .text .has-inline-color.has-rouge-rose-color {
	color: var(--color_rouge_rose);
}
.has-background.has-rouge-rose-background-color {
	background-color: var(--color_rouge_rose);
}

.content .text .has-text-color.has-vert-jaune-color,
.content .text .has-inline-color.has-vert-jaune-color {
	color: var(--color_vert_jaune);
}
.has-background.has-vert-jaune-background-color {
	background-color: var(--color_vert_jaune);
}

.content .text .has-text-color.has-vert-clair-color,
.content .text .has-inline-color.has-vert-clair-color {
	color: var(--color_vert_clair);
}
.has-background.has-vert-clair-background-color {
	background-color: var(--color_vert_clair);
}

.content .text .has-text-color.has-vert-fonce-color,
.content .text .has-inline-color.has-vert-fonce-color {
	color: var(--color_vert_fonce);
}
.has-background.has-vert-fonce-background-color {
	background-color: var(--color_vert_fonce);
}

.content .text .has-text-color.has-noir-color,
.content .text .has-inline-color.has-noir-color {
	color: var(--color_noir);
}
.has-background.has-noir-background-color {
	background-color: var(--color_noir);
}

.content .text .has-text-color.has-gris-tres-clair-color,
.content .text .has-inline-color.has-gris-tres-clair-color {
	color: var(--color_gris_tres_clair);
}
.has-background.has-gris-tres-clair-background-color {
	background-color: var(--color_gris_tres_clair);
}

.content .text .has-text-color.has-gris-clair-color,
.content .text .has-inline-color.has-gris-clair-color {
	color: var(--color_gris_clair);
}
.has-background.has-gris-clair-background-color {
	background-color: var(--color_gris_clair);
}

.content .text .has-text-color.has-gris-moyen-color,
.content .text .has-inline-color.has-gris-moyen-color {
	color: var(--color_gris_moyen);
}
.has-background.has-gris-moyen-background-color {
	background-color: var(--color_gris_moyen);
}

.content .text .has-text-color.has-gris-fonce-color,
.content .text .has-inline-color.has-gris-fonce-color {
	color: var(--color_gris_fonce);
}
.has-background.has-gris-fonce-background-color {
	background-color: var(--color_gris_fonce);
}



/* Code en ligne */
.content .text code,
.content .text pre.wp-block-preformatted {
	display: inline-block;
	max-width: 100%;
	padding: 0px 3px 1px 3px;
	margin: 1px 0px;

	vertical-align: text-top;
	font-family: var(--txt_code_font_family);
	font-size: var(--txt_code_font_size);
	letter-spacing: 1px;
	color: #24232D;
	word-break: break-all;
	white-space: pre-wrap;

	background-color: #F0F0FF;

	border-radius: 1px;
	border: 1px dashed #24232D;

	transition: all 0.3s;
}

body.darkmode .content .text code,
body.darkmode .content .text pre.wp-block-preformatted {
	color: var(--color_gris_clair);

	background-color: #3E3C51;
	border-color: var(--color_gris_clair);
}

.content .text code a:not(.tags):not(.wp-block-button__link),
.content .text pre.wp-block-preformatted a:not(.tags):not(.wp-block-button__link) {
    text-decoration-style: solid;
}

body.darkmode .content .text code a:not(.tags):not(.wp-block-button__link),
body.darkmode .content .text pre.wp-block-preformatted a:not(.tags):not(.wp-block-button__link) {
    color: #fff;
    text-decoration-color: #fff;
}


.content .text code:hover,
.content .text pre.wp-block-preformatted:hover {
	background-color: transparent;
	border-color: var(--color_gris_clair);

	transition: all 0.3s;
}

body.darkmode .content .text code:hover,
body.darkmode .content .text pre.wp-block-preformatted:hover {
	background-color: transparent;
	border-color: var(--color_gris_moyen);
}


.content .text pre.wp-block-preformatted{
	display: block;

	margin: 15px 0 0 0;
	padding: 3px 3px 3px 3px;
}

.content .text table code {
	font-size: 1em;
}

.content .text .enlighter-default {
	margin: 15px 0 0 0;
}



/* Listes */
.content .text p + ul,
.content .text p + ol {
	margin-top: 0px;
}

.content .text li ul,
.content .text li ol {
	margin-top: 0px;
}

.content .text ul li,
.content .text ol li {
	margin: 0 0 0 15px
}



/* Liens */
.content .text a:not(.tags):not(.wp-block-button__link):not(.social_button) {
	position: relative;

	color: #808092;
	text-decoration: underline dashed #808092;

	transition: all 0.3s;
}

body.darkmode .content .text a:not(.tags):not(.wp-block-button__link):not(.social_button) {
	color: #babaca;
	text-decoration-color: #babaca;
}

.content .text a:not(.tags):not(.wp-block-button__link):not(.social_button):hover {
	text-shadow: 0px 0px 8px #808092;

	color: #24232D;
	text-decoration: underline solid #24232D;

	transition: all 0.3s;
}

body.darkmode .content .text a:not(.tags):not(.wp-block-button__link):not(.social_button):hover {
	text-shadow: 0px 0px 8px #808092;

	color: #FFF;
	text-decoration-color: #FFF;
}

.content .text a[target=_blank]:not(.tags):not(.social_button)::after {
	margin: 0px 1px 0px 3px;

	content: '\e90c';
	font-family: "Bazingas_icon";
	font-size: 0.7em;

	transition: all 0.3s;
}

.content .text a:not(.tags):not(.social_button):hover::before {
	position: absolute;
	z-index: 100;

	top: -16px;
	right: 0px;

	width: max-content;
	transform: translateX(100%);

	padding: 3px 5px;
	margin: 0px 0px 0px 0px;

	border: 1px solid #808092;
	border-radius: 3px;

	background-color: #F0F0FF;;

	font-size: 0.7em;
	line-height: 12px;
	color: #24232D;
	text-shadow: 0 0 0 #fff;

	opacity: 0.95;
}

body.darkmode .content .text a:not(.tags):not(.social_button):hover::before {
	background-color: #191922;;
	color: #9391A2;
}

.content .text a[target=_blank]:not(.tags):not(.social_button):hover::before {
	content: 'Dans un nouvel onglet';
}

.content .text a:not([target=_blank]):not(.tags):not(.social_button):hover::before {
	content: 'Dans l\'onglet actuel';
}



/* Eléments */
/* Bouton */
.content .text .wp-block-buttons {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	flex-direction: row;

	margin-bottom: -6px;
	margin-right: -6px;
}

@media screen and (max-width: "[[screen_size_mobile]]") {
	.content .text .wp-block-buttons {
		display: block;
		margin-right: 0px;
	}
}

.content .text .wp-block-button {
	display: inline-block;

	max-width: 100%;
	margin: 0 6px 6px 0;

	flex-grow: 1;
}

.content .text .wp-block-button a {
	position: relative;
	display: inline-block;

	width: 100%;
	padding: 5px 7px 5px 7px;

	border-radius: 5px;

	font-size: unset;
	text-decoration: none;
	text-align: center;

	transition: all 0.3s;
}

.content .text .wp-block-button a:hover::before {
	display: none;
}

.content .text .wp-block-button a:not(.has-text-color) {
	color: #fff;

	transition: all 0.3s;
}

.content .text .wp-block-button a:not(.has-background) {
	background-color: var(--main_color_theme);

	transition: all 0.3s;
}

.content .text .wp-block-button.vari1 a {
	background-color: #a6d9ff;
}

.content .text .wp-block-button.vari2 a {
	background-color: var(--color_violet_fonce);
}

.content .text .wp-block-buttons .wp-block-button a:hover {
	background-color: var(--color_violet_electric);

	color: #fff;

	transition: all 0.3s;
}

.content .text .wp-block-buttons.style2 .wp-block-button a,
.content .text .wp-block-button.style2 a {
	background-color: #C31432;
}

.content .text .wp-block-buttons.style2 .wp-block-button.vari1 a,
.content .text .wp-block-button.style2.vari1 a {
	background-color: #F28193;
}

.content .text .wp-block-buttons.style2 .wp-block-button.vari2 a,
.content .text .wp-block-button.style2.vari2 a {
	background-color: #e10026;
}

.content .text .wp-block-buttons.style2 .wp-block-button a:hover,
.content .text .wp-block-button.style2 a:hover {
	background-color: #8A031A;

	color: #fff;

	transition: all 0.3s;
}




/* Styles annexes */
/* Largeur 100% */
.content .text .wp-block-buttons.s1-1 .wp-block-button {
	display: block;

	width: 100%;
}
/* Largeur 75% */
.content .text .wp-block-buttons.s3-4 .wp-block-button {
	width: calc( 75% - 6px);
	flex-grow: 0;
}
/* Largeur 50% */
.content .text .wp-block-buttons.s1-2 .wp-block-button {
	width: calc( 50% - 6px);
	flex-grow: 0;
}
/* Centré */
.content .text .wp-block-buttons.center {
	justify-content: space-evenly;
}
/* Aligné à gauche */
.content .text .wp-block-buttons.left .wp-block-button a {
	text-align: left;
}
/* Retour à la ligne pour caque bouton */
.content .text .wp-block-buttons.no-flex.s1-2 .wp-block-button {
	margin-right: 2%;
}
.content .text .wp-block-buttons.no-flex.s1-2.center .wp-block-button {
	margin-right: 2%;
	margin-left: 2%;
}

@media screen and (max-width: "[[screen_size_mobile]]") {
	.content .text .wp-block-button,
	.content .text .wp-block-buttons.s3-4 .wp-block-button,
	.content .text .wp-block-buttons.s3-4.center .wp-block-button,
	.content .text .wp-block-buttons.s3-4.no-flex .wp-block-button,
	.content .text .wp-block-buttons.s3-4.no-flex.center .wp-block-button,
	.content .text .wp-block-buttons.s1-2 .wp-block-button,
	.content .text .wp-block-buttons.s1-2.center .wp-block-button,
	.content .text .wp-block-buttons.s1-2.no-flex .wp-block-button,
	.content .text .wp-block-buttons.s1-2.no-flex.center .wp-block-button {
		width: 100%;
		margin-left: 0;
		margin-right: 0;
	}
}



/* Citation */
.content .text blockquote {
	display: block;

	width: 100%;
	padding: 25px 30px calc(25px - 0.8em) 30px;

	border-radius: 5px;

	background-color: var(--main_color_theme);
	background-image: linear-gradient(90deg, #24232D, var(--main_color_theme));

	text-align: right;

	transition: all 0.3s;
}

.content .text blockquote:hover {
	box-shadow: 0 0 5px 0 #000;

	transition: box-shadow 0.3s;
}

.content .text blockquote p {
	margin: 0px;

	font-size: 2em;
	color: #FFF;
	text-align: justify;
	line-height: unset;
}

@media screen and (max-width: "[[screen_size_mobile]]") {
	/* Citation */
	.content .text blockquote p {
		font-size: 1.4em;
	}
}

.content .text blockquote p:before {
	margin-right: 10px;

	content: '\f10d';
	font-family: "FontAwesome";
}

.content .text blockquote p:after {
	margin-left: 10px;

	content: '\f10e';
	font-family: "FontAwesome";
}

.content .text blockquote cite {
	margin: 0px;

	font-size: 0.8em;
	color: #F0F0FF;
}

.content .text blockquote a:not(.tags):not(.wp-block-button__link) {
	color: #F0F0FF;
	text-decoration-color: #F0F0FF;

	transition: all 0.3s;
}

.content .text blockquote a:not(.tags):not(.wp-block-button__link):hover {
	color: #FFF;
	text-decoration-color: #FFF;

	transition: all 0.3s;
}



/* Couplet */
.content .text pre.wp-block-verse {
	padding: 10px 0px;

	background-color: var(--color_gris_tres_clair);

	border-radius: 4px;

	font-size: 1.1em;
	text-align: center;
	font-style: italic;

	transition: all 0.3s;
}

body.darkmode .content .text pre.wp-block-verse {
	background-color: var(--color_gris_peu_fonce);
}

.content .text pre.wp-block-verse:hover {
	background-color: transparent;

	box-shadow: 0 0 5px 0 var(--color_gris_clair);

	transition: all 0.3s;
}

body.darkmode .content .text pre.wp-block-verse:hover {
	background-color: transparent;
	box-shadow: 0 0 5px 0 #000;
}



/* Embed */
.content .text .wp-block-embed__wrapper {
	text-align: center;
}



/* Figures */
.content .text figure {
	border-bottom: none;
	padding: 0 0;
}

.content .text figure > table {
	margin-top: 0;
}

.content .text figcaption {
	margin: 15px;

	text-align: center;
	font-style: italic;
	font-size: 0.9em;
	color: #808092;
}



/* Images */

/* Images simples */
.content .text .wp-block-image {
	text-align: center;
}

.content .text img {
	box-shadow: 0 0 5px 0 var(--color_gris_clair);

	transition: all 0.3s;
}

body.darkmode .content .text img {
	box-shadow: 0 0 5px 0 #000;

	border-color: #24232D;
}

.content .text img:hover {
	box-shadow: 0 0 10px 0 #24232D;
	border: 1px solid #24232D;

	transition: all 0.3s;
}

body.darkmode .content .text img:hover {
	box-shadow: 0 0 10px 0 #000;
	border: 1px solid #000;
}


/* Galerie */
.content .text figure.wp-block-gallery {
	display: block;

	text-align: center;
}

.content .text figure.wp-block-gallery ul {
	align-items: center;
	justify-content: space-evenly;

	margin: 0px;
}

.content .text figure.wp-block-gallery ul li.blocks-gallery-item {
	display: block;

	margin: 10px;
}

.content .text figure.wp-block-gallery ul li figure {
	margin: 0px;
}

.content .text div.wp-block-media-text figure {
	margin: 0px;
}


/* Bannière */
.content .text .wp-block-cover,
.content .text .wp-block-cover-image {
	max-height: 400px;

	background-size: 100%;

	transition: box-shadow 0.3s, background-size 2s cubic-bezier(0,.71,0,1);
}

@media screen and (max-width: "[[screen_size_mobile]]") {
	.content .text .wp-block-cover,
	.content .text .wp-block-cover-image {
		Min-height: 180px;
	}
}

.content .text .wp-block-cover:hover,
.content .text .wp-block-cover-image:hover {
	box-shadow: 0 0 10px 0 #24232D;

	background-size: 107%;

	transition: box-shadow 0.3s, background-size 5s cubic-bezier(.1,.59,.32,1);
}

.content .text .wp-block-cover p,
.content .text .wp-block-cover-image p {
	margin-top: 0;
}

@media screen and (max-width: "[[screen_size_mobile]]") {
	.content .text .wp-block-cover p,
	.content .text .wp-block-cover-image p {
		font-size: 25px;
	}
}



/* Séparateur */
.content .text hr.wp-block-separator {
	height: 1px;
	width: 80%;
	margin: 50px auto;

	border: none;
	background-color: #0090FF;
	background-image: linear-gradient(90deg, var(--main_color_theme)00 0%, var(--main_color_theme) 30%, #808092 50%, var(--main_color_theme) 70%, var(--main_color_theme)00 100%);
}



/* Tableau */
.content .text table,
.content .text table p {
	font-size: 0.8em;
}

.content .text table tr td,
.content .text table tr th {
	padding: 10px 5px;
}

.content .text table thead {
	text-align: center;

	background-color: var(--main_color_theme);

	color: #fff;
}

.content .text table tfoot {
	text-align: center;

	background-color: var(--main_color_theme);

	color: #fff;
}

body.darkmode .wp-block-table.is-style-stripes tbody tr:nth-child(2n+1) {
	background-color: #131418;
}



/* Iframe */
.content .text iframe {
	margin-top: 15px;

	border: 2px solid #000;
	border-radius: 5px;

	box-shadow: 0 0 10px 0 #000;
}