/* Spécifique à blog.arthurbazin.com */

/* Footer gauche */
.footer_widget.footer_left .author {
	display: flex;
}

.footer_widget.footer_left .author div {
	display: block;
}

.footer_widget.footer_left .author_img {
	flex: 1 1 18%;
	max-width: 95px;

	padding: 15px 5px 0 0;
}

.footer_widget.footer_left .author_img img {
	width: 100%;

	object-fit: cover;

	border-radius: 15px;
	border: 3px solid #000;

	box-shadow: 0 0 5px #000;

	transition: all 0.2s;
}

.footer_widget.footer_left .author_img:hover img {
	border: 2px solid var(--main_color_theme);

	box-shadow: 0 0 5px var(--main_color_theme);

	transition: all 0.2s;
}


/* Footer milieu */
.footer_widget.footer_middle {
	cursor: pointer;
}

.footer_widget.footer_middle .tea_time_animation_cup {
	position: relative;

	height: 100px;
	width: 100px;

	margin: 0 auto;
}

.footer_widget.footer_middle:hover .tea_time_animation_cup .cup {
	background-color: var(--main_color_theme);

	transition: all 0.2s;
}

.footer_widget.footer_middle:hover .tea_time_animation_cup .cup .handle::before {
	box-shadow: 0 0 0 99999px var(--main_color_theme);

	transition: all 0.2s;
}

.footer_widget.footer_middle:hover .tea_time_animation_cup .vapor .cloud {
	background-color: var(--main_color_theme);

	transition: all 0.2s;
}



/* Footer droit */
.footer_widget.footer_right {
	text-align: justify;
}



/* Copyright */
.footer_copyright i.BazTh_ico {
	position: relative;
	top: 1px;
}

.footer_copyright i.BazTh_ico.BazTh_ico_id_card_light{
	top: 2px;
}

.footer_copyright i.BazTh_ico_savoie {
	font-size: 11px;
	margin: 0 2px;
}

.footer_copyright i.BazTh_ico_heart_light,
.footer_copyright i.BazTh_ico_savoie {
	color: #0090FF;
}