/* Style des codes stylisé par l'extension enlighter du contenu principal */


/*@BASETHEME:monokai*/

/* Conteneur */
.content .text .enlighter-default {
	position: relative;

	border-radius: 5px;

	color: #f8f8f2;
	font-size: 12px;
}


.content .text .enlighter-default * {
	transition: all 0.2s;
}



/* Texte non formaté */
.EnlighterJSRAW.enlighter-origin {
	display: none;
}



/* Groupes de code */
/* Conteneur */
.content .text .enlighter-default .enlighter-codegroup-switch {
	position: relative;
	padding: 0 0 0 25px;
}

@media screen and (max-width: "[[screen_size_mobile]]") {
	.content .text .enlighter-default .enlighter-codegroup-switch {
		display: flex;
		flex-direction: column-reverse;
	}
}

/* Conteneur du texte */
.content .text .enlighter-default .enlighter-codegroup-wrapper {
	position: relative;
	z-index: 10;
}

/* Onglets */
.content .text .enlighter-default .enlighter-codegroup-switch .enlighter-btn {
	position: relative;
	z-index: 1;
	display: inline-block;

	margin: 0;
	padding: 5px 15px 5px 15px;

	border: none;
	border-radius: 5px 5px 0 0;

	background-image: none;
	background-color: #636369;

	box-shadow: 0 0 5px 0 #000;

	font-style: italic;

	cursor: pointer;
}

/* Onglet actif */
.content .text .enlighter-default .enlighter-codegroup-switch .enlighter-btn.enlighter-active {
	z-index: 5;

	background-color: #24232D;

	font-weight: bold;
	font-style: normal;

	cursor: default;
}

body.darkmode .content .text .enlighter-default .enlighter-codegroup-switch .enlighter-btn.enlighter-active {
	background-color: #17171E;
}


@media screen and (max-width: "[[screen_size_mobile]]") {
	.content .text .enlighter-default .enlighter-codegroup-switch .enlighter-btn {
		border-radius: 5px 5px 0 0;
	}
	.content .text .enlighter-default .enlighter-codegroup-switch .enlighter-btn:first-child {
		border-radius: 0 0 5px 0;
	}
}

.content .text .enlighter-default.enlighter-show-rawcode .enlighter-codegroup-switch .enlighter-btn.enlighter-active {
	background-color: var(--color_gris_tres_clair);

	color: var(--color_gris_fonce);
}

body.darkmode .content .text .enlighter-default.enlighter-show-rawcode .enlighter-codegroup-switch .enlighter-btn.enlighter-active {
	background-color: #000;

	color: var(--color_gris);
}



/* Fenêtre de code */

/* Boutons fenêtre code */
/* Emplacement  */
.content .text .enlighter-default .enlighter-toolbar,
.content .text .enlighter-default .enlighter-codegroup-wrapper .enlighter-toolbar {
	position: absolute;

	opacity: 0;

	top: 10px;
	right: 10px;
	z-index: 1;
}

.content .text .enlighter-default:hover .enlighter-toolbar,
.content .text .enlighter-default:hover .enlighter-codegroup-wrapper .enlighter-toolbar,
.content .text .enlighter-default:focus-within .enlighter-toolbar,
.content .text .enlighter-default:focus-within .enlighter-codegroup-wrapper .enlighter-toolbar {
	opacity: 1;
}

/* Bouton */
.content .text .enlighter-default .enlighter-toolbar .enlighter-btn {
	display: inline-block;

	height: 24px;
	width: 24px;

	padding: 0;
	margin: 0 0 0 10px;

	background-color: var(--color_noir);

	border: solid 1px var(--main_color_theme);
	border-radius: 3px;

	font-family: 'Bazingas_icon' !important;
	font-size: 15px;
	line-height: 21px;
	text-align: center;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	color: var(--color_gris_clair);
}

/* Survol */
.content .text .enlighter-default .enlighter-toolbar .enlighter-btn:hover {
	transform: scale(1.1);

	box-shadow: 0 0 7px 2px var(--color_noir);

	color: #fff;

	cursor: pointer;
}

/* Code nu */
.content .text .enlighter-default.enlighter-show-rawcode .enlighter-toolbar .enlighter-btn {
	background-color: #fff;

	border: solid 1px var(--main_color_theme);

	color: var(--color_gris_fonce);
}

/* Survol */
.content .text .enlighter-default.enlighter-show-rawcode .enlighter-toolbar .enlighter-btn:hover {
	box-shadow: 0 0 7px 2px var(--color_gris);

	color: var(--color_noir);
}


/* Contenu */
.content .text .enlighter-default .enlighter-toolbar .enlighter-btn.enlighter-btn-raw::before {
	content: "\e905";
}
.content .text .enlighter-default .enlighter-toolbar .enlighter-btn.enlighter-btn-copy::before {
	content: "\e907";
}
.content .text .enlighter-default .enlighter-toolbar .enlighter-btn.enlighter-btn-window {
	display: none;
}
.content .text .enlighter-default .enlighter-toolbar .enlighter-btn.enlighter-btn-website {
	display: none;
}



/* Code */
.content .text .enlighter-default .enlighter,
.content .text .enlighter-default .enlighter-raw {
	font-family: var(--txt_code_font_family);
	font-feature-settings: "calt" 0;
	font-style: normal;
	font-weight: 400;
	color: var(--color_gris_tres_clair);
	font-size: var(--txt_code_font_size);
	line-height: var(--txt_code_line_height);

	white-space: pre-wrap;
	word-wrap: anywhere;
}


/* Conteneur avec mis en forme */
.content .text .enlighter-default .enlighter {
	position: relative;

	counter-reset: item;

	background-color: #24232D;

	border-radius: 5px;
}

body.darkmode .content .text .enlighter-default .enlighter {
	background-color: #17171E;
}

/* Ligne de texte */
.content .text .enlighter-default .enlighter > div {
	position: relative;

	min-height: 22px;
	padding-left: 28px;
}

/* Forme de la première et de la dernière ligne */
.content .text .enlighter-default .enlighter > div:first-child {
	border-radius: 5px 5px 0 0;
}
.content .text .enlighter-default .enlighter > div:last-child {
	border-radius: 0 0 5px 5px;
}

/* Numérotation */
.content .text .enlighter-default .enlighter > div::before {
	content: counter(item, decimal-leading-zero) ".";
	counter-increment: item;

	display: block;
	position: absolute;

	left: 0px;
	height: 100%;
	width: 23px;
	padding-right: 2px;

	background-color: #000;

	text-align: right;
	color: var(--color_gris_moyen);
	font-size: 10px;
	line-height: 22px;
}

/* Forme de la première et de la dernière ligne */
.content .text .enlighter-default .enlighter > div:first-child::before {
	border-radius: 5px 0 0 0;
}
.content .text .enlighter-default .enlighter > div:last-child::before {
	border-radius: 0 0 0 5px;
}

/* Contenu de la ligne */
.content .text .enlighter-default .enlighter > div > div {
	display: block;
}


/* Highlight au survol du code normal */
.content .text .enlighter-default .enlighter > div:hover {
	background-color: #000000;
}

.content .text .enlighter-default .enlighter > div:hover::before {
	color: #fff;
}

/* Code mis en valeur */
.content .text .enlighter-default .enlighter > div.enlighter-special {
	background-color: #090909;
}

/* Highlight au survol du code mis en valeur */
.content .text .enlighter-default .enlighter > div.enlighter-special:hover{
	background-color: #000000;
}



/* Code au format brut */
.content .text .enlighter-default .enlighter-raw {
	display: none;
	position: relative;

	min-width: 100%;
	margin: 0;
	padding: 0 0 0 3px;

	border-radius: 5px;

	background-color: var(--color_gris_tres_clair);

	color: var(--color_gris_fonce);
}

body.darkmode .content .text .enlighter-default .enlighter-raw{
	background-color: #000;

	color: var(--color_gris);
}

.content .text .enlighter-default.enlighter-show-rawcode .enlighter-raw {
	display: block;
}

.content .text .enlighter-default.enlighter-show-rawcode .enlighter {
	display: none;
}


/* Couleur des textes */
.content .text .enlighter-default .enlighter-text{
	color: #f8f8f2;
}
.content .text .enlighter-default .enlighter-c0{
	color: #79858c;
	font-style: italic;
	font-weight: 100;
	font-feature-settings: normal;
}
.content .text .enlighter-default .enlighter-c1{
	color: #79858c;
	font-style: italic;
	font-weight: 100;
	font-feature-settings: normal;
}
.content .text .enlighter-default .enlighter-c2{
	color: #79858c;
	font-style: italic;
	font-weight: 100;
	font-feature-settings: normal;
}
.content .text .enlighter-default .enlighter-c9{
	color: #79858c;
	font-style: italic;
	font-weight: 100;
	font-feature-settings: normal;
}
.content .text .enlighter-default .enlighter-k0{
	color: #f92672;
}
.content .text .enlighter-default .enlighter-k1{
	color: #f92672;
}
.content .text .enlighter-default .enlighter-k2{
	color: #f92672;
}
.content .text .enlighter-default .enlighter-k3{
	color: #f92672;
}
.content .text .enlighter-default .enlighter-k4{
	color: #f92672;
}
.content .text .enlighter-default .enlighter-k5{
	color: #f92672;
}
.content .text .enlighter-default .enlighter-k6{
	color: #f92672;
}
.content .text .enlighter-default .enlighter-k7{
	color: #f8f8f2;
}
.content .text .enlighter-default .enlighter-k8{
	color: #f92672;
}
.content .text .enlighter-default .enlighter-k9{
	color: #fd971f;
}
.content .text .enlighter-default .enlighter-k10{
	color: #f92672;
}
.content .text .enlighter-default .enlighter-e0{
	color: #ae81ff;
}
.content .text .enlighter-default .enlighter-e1{
	color: #ae81ff;
}
.content .text .enlighter-default .enlighter-e2{
	color: #ae81ff;
}
.content .text .enlighter-default .enlighter-e3{
	color: #ae81ff;
}
.content .text .enlighter-default .enlighter-e4{
	color: #ae81ff;
}
.content .text .enlighter-default .enlighter-s0{
	color: #e6db74;
}
.content .text .enlighter-default .enlighter-s1{
	color: #e6db74;
}
.content .text .enlighter-default .enlighter-s2{
	color: #e6db74;
}
.content .text .enlighter-default .enlighter-s3{
	color: #e6db74;
}
.content .text .enlighter-default .enlighter-s4{
	color: #e6db74;
	font-weight: 700;
}
.content .text .enlighter-default .enlighter-s5{
	color: #e6db74;
	font-style: italic;
}
.content .text .enlighter-default .enlighter-n0{
	color: #ae81ff;
}
.content .text .enlighter-default .enlighter-n1{
	color: #ae81ff;
}
.content .text .enlighter-default .enlighter-n2{
	color: #ae81ff;
}
.content .text .enlighter-default .enlighter-n3{
	color: #ae81ff;
}
.content .text .enlighter-default .enlighter-n4{
	color: #ae81ff;
}
.content .text .enlighter-default .enlighter-n5{
	color: #ae81ff;
}
.content .text .enlighter-default .enlighter-m0{
	color: #66d9ef;
}
.content .text .enlighter-default .enlighter-m1{
	color: #66d9ef;
}
.content .text .enlighter-default .enlighter-m2{
	color: #66d9ef;
}
.content .text .enlighter-default .enlighter-m3{
	color: #66d9ef;
}
.content .text .enlighter-default .enlighter-g0{
	color: #f8f8f2;
	font-weight: 700;
}
.content .text .enlighter-default .enlighter-g1{
	color: #f8f8f2;
	font-weight: 700;
}
.content .text .enlighter-default .enlighter-t0{
	color: #f8f8f2;
}
.content .text .enlighter-default .enlighter-t1{
	color: #a6e22e;
}
.content .text .enlighter-default .enlighter-t2{
	color: #a6e22e;
}
.content .text .enlighter-default .enlighter-t3{
	color: #e6db74;
}
.content .text .enlighter-default .enlighter-t4{
	color: #e6db74;
}
.content .text .enlighter-default .enlighter-t5{
	color: #a6e22e;
}
.content .text .enlighter-default .enlighter-t6{
	color: #f92672;
}
.content .text .enlighter-default .enlighter-t7{
	color: #f92672;
}
.content .text .enlighter-default .enlighter-t8{
	color: #75715e;
}
.content .text .enlighter-default .enlighter-x1{
	color: #f92672;
}
.content .text .enlighter-default .enlighter-x2{
	color: #a6e22e;
}
.content .text .enlighter-default .enlighter-x10{
	color: #a6e22e;
}
.content .text .enlighter-default .enlighter-x11{
	color: #a6e22e;
}
.content .text .enlighter-default .enlighter-x12{
	color: #66d9ef;
	font-style: italic;
}
.content .text .enlighter-default .enlighter-x13{
	color: #f92672;
}
.content .text .enlighter-default .enlighter-x14{
	color: #ae81ff;
}
.content .text .enlighter-default .enlighter-x15{
	color: #a6e22e;
}